{
    "root": true,
    "env": {
        "node": true
    },
    "extends": [
        "plugin:vue/essential",
        "eslint:recommended"
    ],
    "parserOptions": {
        "parser": "babel-eslint"
    },
    "rules": {
        "indent": [
            "warn",
            4
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "space-before-function-paren": [
            "warn",
            {
                "anonymous": "always",
                "named": "always"
            }
        ],
        "max-len": [
            2,
            140,
            2,
            {
                "ignoreUrls": true,
                "ignoreComments": false,
                "ignorePattern": "^\\import\\s.*"
            }
        ],
        "consistent-return": 0,
        "no-console": "off"
    }
}