// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: $white-ter;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$body-background-color: lighten($cyan, 20%);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Card
$card-background-color: $yellow;
$card-shadow: 0 4px 10px rgba(10, 10, 10, 0.1), 0px -1px 3px 0px rgba(10, 10, 10, 0.1);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.top-level {
    height: 100px;

    .header-brand {
        margin-right: $size-6
    }
}

.slide-enter-active, .slide-leave-active {
    transition: margin-bottom .8s ease-out;
}

/*
you set the css property before transition starts
*/
.slide-enter, .slide-leave-to {
    margin-bottom: -200px;
}

/*
you set the css property it will be when transition ends
*/
.slide-enter-to, .slide-leave {
    margin-bottom: 0px;
}