// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$sebPrimary: #ffdd57;
$primary: $white-ter;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

$body-background-color: lighten($cyan, 20%);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Card
$card-background-color: $yellow;
$card-shadow: 0 4px 10px rgba(10, 10, 10, 0.1), 0px -1px 3px 0px rgba(10, 10, 10, 0.1);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@import "~animate.css";

.top-level {
    height: 100px;
    margin-bottom: 0px;

    .header-brand {
        margin-right: $size-6
    }
}

.router-anim-enter-active {
    animation: coming 1s;
    animation-delay: 1s;
    opacity: 0;
}

.router-anim-leave-active {
    animation: going 1s;
}

.hover {
    cursor: pointer;
}

@keyframes going {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes coming {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
