@import "~bulma/sass/utilities/_all";

$side-color: $yellow;

.technology-icon {
    padding: 15px;
    width: 33%;
    height: 33%;
    position: relative;
    float: left;
    background: none;
    border: 1px solid darken( $side-color, 20%);


    img {
        filter: grayscale(100%);
    }
}
